<div *ngIf="section">
  <h1>{{ section.name }}</h1>
  
  <div class="bus-container">
    <mat-card *ngFor="let bus of section.buses" class="bus-card">
      <mat-card-header>
        <mat-card-title>
          {{ bus.id }} 
          <span class="voltage-badge">({{ bus.voltage }} {{ bus.name }})</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="panels-container">
          <mat-card *ngFor="let panel of bus.panels" class="panel-card">
            <mat-card-header>
              <mat-card-title>{{ panel.id }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="breakers-container">
                <app-breaker *ngFor="let breaker of panel.breakers" [breaker]="breaker"></app-breaker>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>