<!-- breaker.component.html -->
<mat-card class="breaker-card">
  <mat-card-header>
    <mat-card-title>
      {{ breaker.description }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <a 
      mat-flat-button 
      color="primary" 
      [href]="breaker.manufacturerDrawing" 
      target="_blank"
      matTooltip="Manufacturer Drawing">
      <mat-icon>description</mat-icon>
    </a>
    @if (breaker.asBuiltDrawing) {
      <a 
        mat-flat-button 
        color="accent" 
        [href]="breaker.asBuiltDrawing" 
        target="_blank"
        matTooltip="As Built Drawing">
        <mat-icon>engineering</mat-icon>
      </a>
    }
    <button 
      mat-flat-button 
      color="warn" 
      (click)="editBreaker()"
      matTooltip="Edit Drawings">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>